


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    }
    

.ab_icon{

    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top:20px;
    cursor: pointer;


  }
    .logo {
    color: white;
    font-size: 18px;
    margin-top: 20px;
    
    }
    .logo .sp{

        font-size: 12px;
        margin-left: 190px;
    }
   
    
    .menu-bar {
    background-color: black;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;

    }
    
   
    

.bi-check-circle {

    margin-top: 80px;
    display: block;
    text-align: center;
    color: #228B22;
    font-size: 50px;
}
.container h3{

    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    color: #228B22;
    font-weight: 600;
}
.container p{

    text-align: center;
    margin-top: 5px;
    font-size: 15px;
    color: #949292;
    font-weight: 500;
}

.order-header{

    height: 350px;
    width: 500px;
    border: 1px solid rgb(160, 156, 156);
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    
}

.order-no{

    font-size: 12px;
    font-weight: 600;
    color: #1d4c85;
}

.delivery-time{

    font-size: 15px;
    font-weight: 500;
    color: #aaa6a6;
    margin-top: 10px;
}

.shipping-address{

    font-size: 17px;
    font-weight: 600;
    color: black;
    margin-top: 15px;
}

.address-details{

    font-size: 15px;
    font-weight: 500;
    color: #aaa6a6;
    margin-top: 10px;
    margin-left: 30px;
}

.amount{

    font-size: 13px;
    font-weight: 600;
    color: #1d4c85;
    margin-top: 35px;
}

.xpreesbees{

    height: 40px;
    width: 80px;
    position: absolute;
    left: 160px;
    top: 440px;
}

.ordered-items{

    font-size: 13px;
    font-weight: 600;
    color: red;
}

.cart-item{

    height: 350px;
    width: 600px;
    border: 1px solid rgb(160, 156, 156);
    position: absolute;
    top: 200px;
    left: 700px;
    padding: 10px;
    border-radius: 10px;
    display: block;
  margin-bottom: 20px;
}


.item-info{
    

    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    display: inline-flex;
  flex-direction: column;
  

   
   
}

.cart-image{

    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-top: 10px;
}





.cart-name{

    font-size: 14px;
    font-weight: 600;
    color: black;
    margin-top: -40px;
    margin-left: 60px;
}

.cart-size{

    font-size: 12px;
    font-weight: 500;
    color: black;
    margin-top: 6px;
    margin-left: 60px;
}

.cart-quantity{

    font-size: 12px;
    font-weight: 500;
    color: black;
    margin-top: -30px;
    margin-left: 300px;
}

.cart-price{

    font-size: 12px;
    font-weight: 500;
    color: red;
    margin-top: -10px;
    margin-left: 400px;
}

.order-items{

    margin-top: -350px;
    margin-left: 700px;
    height: 350px;
    width: 600px;
    border: 1px solid rgb(160, 156, 156);
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
}


.billing{

    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 100px;
    margin-left: 400px;
}

.billing-details p{

    font-size: 13px;
    font-weight: 500;
    color: #1d4c85;
    margin-left: 400px;
    

}

.billing-details{

    margin-top: 10px;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white */
	backdrop-filter: blur(2px); /* applies blur to whatever's behind */
	-webkit-backdrop-filter: blur(10px); /* for Safari */
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99999;
}



#loader-text1{

    position: absolute;
    top: 420px;
    left: 600px;
    font-weight: bold;
}

.copy-rights{

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #f1f1f1;
    color: #333;
    font-size: 14px;
    font-weight: 500;
}